<!DOCTYPE html>
<html>
<head>
  <title>Rcompany</title>
  <%= stylesheet_link_tag    "rcompany/application", :media => "all" %>
  <%= javascript_include_tag "rcompany/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
